body{
    font-family: fantasy;
    background-color: hsl(160, 4%, 29%);
    direction: rtl;
}

header{
   background-color: #ddd;
   border: 50x solid hsl(160, 4%, 14%);
   margin: 20px;
   padding: 8px;
   border-radius: 50px;
   text-align: center;
   box-shadow: 0 4px 12px hsl(160, 4%, 15%);
   color: hsl(160, 4%, 15%);
}

#barn {
color: #ddd;
text-align: center;
padding-top:45px ;
}

table {
    width:100%;
    border-spacing: 0;
    margin: 50px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border: 6px solid hsl(160, 3%, 19%);
    border-radius: 5px;
}

table,th,td {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: hsl(0, 1%, 69%);
}

#topics {
    background-color: hsl(180, 5%, 16%);
    color: #909090;
}